name: Publish on Github, CurseForge & Modrinth

on:
  release:
    types:
      - published

env:
  JAVA_VERSION: 17

  CUSREFORGE_ID: 912768
  CURSEFORGE_TOKEN: ${{ secrets.PUBLISH_CURSEFORGE_TOKEN }}

  MODRINTH_ID: fxfDqjW0
  MODRINTH_TOKEN: ${{ secrets.PUBLISH_MODRINTH_TOKEN }}

  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Environment Variables
        run: env

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - uses: burrunan/gradle-cache-action@v1
        with:
          gradle-distribution-sha-256-sum-warning: false

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          cache: gradle
          java-version: ${{ env.JAVA_VERSION }}

      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Publish (CurseForge/Modrinth/Github)
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          curseforge-id: ${{ env.CUSREFORGE_ID }}
          curseforge-token: ${{ env.CUSREFORGE_TOKEN }}

          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-token: ${{ env.MODRINTH_TOKEN }}

          github-token: ${{ env.GITHUB_TOKEN }}

          files: build/libs/!(*-@(dev|sources|all)).jar

          version-type: release
          version-resolver: latest

          loaders: fabric
          java: ${{ env.JAVA_VERSION }}